.history {
  padding: 10px;
  font-size: 12px;
}
.history span {
  display: block;
  height: 30px;
  line-height: 30px;
}
.history ul {
  border: 1px dashed red;
  border-bottom: none;
}
.history ul li {
  height: 30px;
  line-height: 30px;
  border-bottom: 1px dashed red;
  padding-left: 10px;
}
